<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BooksApp task</title>

    <!-- Favicon -->
    <link href="/assets/img/brand/favicon.png" rel="icon" type="image/png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Icons -->
    <link href="/assets/vendor/nucleo/css/nucleo.min.css" rel="stylesheet">
    <link href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Argon CSS -->
    <link type="text/css" href="/assets/css/argon.min.css" rel="stylesheet">

    <!--My custom CSS -->
    <link type="text/css" href="/myassets/css/index.css" rel="stylesheet">
</head>














<body>
    <!-- Actual search box -->
    <header>
        <div class="my-container my-nav" style="padding-bottom: 140px;">
            <nav>
                <div class="row navbar" id="my-nav-row1">


                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control  border-end-0 border rounded-pill" type='search'
                            placeholder="Search">
                    </div>


                    <div class="icons-div">
                        <i class="fa fa-bell my-icon" aria-hidden="true"></i>
                        <i class="fas fa-copy my-icon" aria-hidden="true"></i>
                    </div>


                    <div class="username">
                        <img src="https://thispersondoesnotexist.com/image" alt="profile picture" width="35"
                            id='profile_pic' />
                        John Snow
                    </div>









                </div>

                <!--row2-->
                <div class="row" id='my-nav-row2'>
                    <div class="col-xs-12 col-md-1">
                        <h1 class='white-font'>Tables</h1>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <nav aria-label="breadcrumb" style=" float: left">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Tables</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <button type="button" class="btn white-background">New</button>
                        <button type="button" class="btn white-background">Filters</button>
                    </div>
                </div>

            </nav>
        </div>



    </header>
    <main>
        <div class="main-div">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Company</th>
                        <th scope="col">Status</th>
                        <th scope="col">Completion</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.company}}</td>
                        <td>{{this.status}}</td>
                        <td>
                            <progress value={{this.completion}} max="100"> {{this.completion}}</progress>
                        </td>
                    </tr>
                    {{/each}}


                </tbody>
            </table>

        </div>

    </main>
    <footer>

    </footer>














































    <!-- Core -->
    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Argon JS -->
    <script src="/assets/js/argon.min.js"></script>
</body>

</html>